<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @meeting.title %>
</p>

<p>
  <b>Logo url:</b>
  <%= @meeting.logo_url %>
</p>

<p>
  <b>Reason:</b>
  <%= @meeting.reason %>
</p>

<p>
  <b>Location:</b>
  <%= @meeting.location %>
</p>

<p>
  <b>Date:</b>
  <%= @meeting.date %>
</p>

<p>
  <b>Start time:</b>
  <%= @meeting.start_time %>
</p>

<p>
  <b>End time:</b>
  <%= @meeting.end_time %>
</p>

<p>
  <b>User:</b>
  <%= @meeting.user_id %>
</p>



<%= link_to 'Back', user_meetings_path %>  |
<%= link_to 'Edit', edit_user_meeting_path %>
