<form class="well form-inline">
<%= simple_form_for(@prelaunch_email) do |f| %>
  <%= f.error_notification %>

  <div class="well form-inline" >
    <%= f.input :name %>
    <%= f.input :address %>
  </div>

  <div>
    <%= f.button 'submit' %>
  </div>
<% end %>

</form>
