<h1>Listing prelaunch_emails</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @prelaunch_emails.each do |prelaunch_email| %>
  <tr>
    <td><%= prelaunch_email.name %></td>
    <td><%= prelaunch_email.address %></td>
    <td><%= link_to 'Show', prelaunch_email %></td>
    <td><%= link_to 'Edit', edit_prelaunch_email_path(prelaunch_email) %></td>
    <td><%= link_to 'Destroy', prelaunch_email, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Prelaunch email', new_prelaunch_email_path %>
