<h1>Listing meeting_minutes_emails</h1>

<table>
  <tr>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @meeting_minutes_emails.each do |meeting_minutes_email| %>
  <tr>
    <td><%= meeting_minutes_email.address %></td>
    <td><%= link_to 'Show', meeting_minutes_email %></td>
    <td><%= link_to 'Edit', edit_meeting_minutes_email_path(meeting_minutes_email) %></td>
    <td><%= link_to 'Destroy', meeting_minutes_email, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Meeting minutes email', new_meeting_minutes_email_path %>
