<%= content_for :sidebar do %>
  <div class="twelve columns">
    <h3 class="side-title"><span class="locations">Locations</span></h3>
    <div class="side-entry">
      <%= image_tag "comment-triangle.png", :class => "comment-triangle", :alt => "" %>
      <div class="address">
        <h4>Location One</h4>
        <p>123 Street Drive<br />
          City, ST 12345<br />
          Phone 123.456.7890<br />
          Fax 123.456.7890</p><a class="button-custom" href="#">Map It</a>
      </div>
      <div class="address">
        <h4>Location Two</h4>
        <p>123 Street Drive<br />
          City, ST 12345<br />
          Phone 123.456.7890<br />
          Fax 123.456.7890</p>
        <p><a href="mailto:info@company.com">info@company.com</a><br />123.456.7890</p><a class="button-custom" href="#">Map It</a>
      </div>
    </div>
    <h3 class="side-title"><span class="tweets">Recent Tweets</span></h3>
    <div class="side-entry">
      <%= image_tag "comment-triangle.png", :class => "comment-triangle", :alt => "" %>
      <p class="tweet">Happy Holidays.<br /><span class="tweet-date">Dec. 22 at 10:15am</span></p>                <p class="tweet">Ima Tweet (and a Pirate!)<br /><span class="tweet-date">Dec. 22 at 10:15am</span></p>
      <p class="tweet">Members don’t miss lunch tomorrow. Coco’s Italian Market!<br /><span class="tweet-date">Dec. 22 at 10:15am</span></p>
      <p class="tweet">Mobile pros out there: How much are you working from your favorite 3rd places this week before the Xmas holiday?<br /><span class="tweet-date">Dec. 22 at 10:15am</span></p>
      <p class="tweet">Members don’t miss lunch tomorrow. Coco’s Italian Market!<br /><span class="tweet-date">Dec. 22 at 10:15am</span></p>
    </div>
    <h3 class="title-download">Downloads</h3>
    <a href="#" title="" class="alternate-button"><span>Document One</span></a>
    <a href="#" title="" class="alternate-button"><span>Document Two</span></a>

  </div><!-- end twelve columns -->
<% end %>

<h2 class="eye-catcher">Punchy, quick text to draw the audience in immediately.</h2>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan tincidunt eleifend.
  Morbi ut orci et libero molestie accumsan nec vel lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  Nulla accumsan tincidunt eleifend.
</p>
<div class="row">
  <div class="six columns gray-box">
    <span class="calendar">This is a link for the calendar. Can you come?</span>
    <a href="#" title="" class="button-custom"><span>View the Calendar</span></a>
  </div>
  <div class="six columns gray-box">
    <span class="meet-peep">Meet our people. They are so friendly.</span>
    <a href="#" title="" class="button-custom"><span>Meet Our People</span></a>
  </div>
</div>
<div class="row">
  <div class="twelve columns">
    <h2 class="hm-article-title">Services</h2>
    <div id="hm-article-entry">
      <%= image_tag "comment-triangle.png", :class => "comment-triangle", :alt => "" %>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan tincidunt eleifend. Morbi ut orci et libero molestie accumsan nec vel lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan tincidunt eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan tincidunt eleifend. Morbi ut orci et libero molestie accumsan nec vel lacus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan tincidunt eleifend. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla accumsan tincidunt eleifend. Morbi ut orci et libero molestie accumsan nec vel lacus.</p>
      <%= image_tag "http://placehold.it/200x200.png", :alt => "", :class => "entry-img", :width => "200", :height => "200" %>
      <ul>
        <li>One</li>
        <li>Two</li>
        <li>Three</li>
        <li>Four</li>
        <li>Five</li>
        <li>Six</li>
        <li>Seven</li>
      </ul>
    </div>
  </div>
</div>
