<% title 'Meetingfix Prelaunch List' %>
<% description 'Submit your email and we will notify you when
meetingfix launches' %>


<div class="span8 offset1 fluid hero-unit">
  <h1>We're Launching Soon</h1>

  <h3>We will notify you when we launch, it wont be too long now...  </h3>

  <br />
  <small>Don't worry, We hate spam too.</small>
  <br />



  <%= simple_form_for(@prelaunch) do |f| %>
    <%= f.error_notification %>

  <form class="well form-vertical">
    <%= f.input :name, :placeholder =>  'Your Name:', :label =>"*" %>
    <br />
    <br />

    <%= f.input :email, :placeholder =>  'Your Email:', :label =>"Don't worry, we hate spam too!" %><br /> <br />
    <button type="submit" class="btn">Let me know</button>
  </form>
<% end %>







<%= link_to 'Back', root_path %>

</div>