<h1>Listing agenda_emails</h1>

<table>
  <tr>
    <th>Address</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @agenda_emails.each do |agenda_email| %>
  <tr>
    <td><%= agenda_email.address %></td>
    <td><%= link_to 'Show', agenda_email %></td>
    <td><%= link_to 'Edit', edit_agenda_email_path(agenda_email) %></td>
    <td><%= link_to 'Destroy', agenda_email, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Agenda email', new_agenda_email_path %>
