<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a id="logo" href="/">MeetingFix</a>
      <nav>
      <ul class="nav pull-right">
        <% if user_signed_in? %>
            <li><%= link_to('Logout', destroy_user_session_path, :method=>'delete') %></li>
            <li><%= link_to 'Meetings', user_meetings_path(current_user) %></li>
            <li><%= link_to('Edit account', edit_user_registration_path) %></li>
            <% if current_user.has_role? :admin %>
                <li><%= link_to('Admin', users_path) %></li>
            <% end %>
        <% else %>
            <li><%= link_to 'Home', root_path %></li>
            <li><%= link_to 'Tour', tour_path %></li>
            <li><%= link_to 'Pricing', pricing_path %></li>
            <li><%= link_to 'About Us', about_path %></li>

        <% end %>
      </ul>
      </nav>
    </div>
  </div>
  <%= render 'layouts/tracking' %>
</header>